.cover {
  max-width: 1184px;
  margin: auto;
  padding: 92px 0 94px 0;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding: 90px 0 90px 0;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    padding: 66px 0 64px 0;
  }
}