.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 0 24px 0;
  max-width: 1184px;
}

@media screen and (max-width: 1232px) {
  .footer {
    margin: 0 48px 0 48px;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    flex-wrap: wrap;
    margin: 0 24px 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 186px;
    margin: 0 16px 0 16px;
  }
}